body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 30px;
}
header{

}
.flex{
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    gap: 10px;
    

}
.one{
    background-color: brown;
    color:white;
    padding: 20px;
    border-radius: 8px;
}
.two{
    background-color:burlywood;
    padding: 20px;
    border-radius: 8px;

}
.three{
    background-color:goldenrod;
    padding: 20px;
    border-radius: 8px;
}
.four{
    background-color:cadetblue;
    padding: 20px;
    border-radius: 8px;
}
